
.btn{
    &,
    &:link,
    &:visited{
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;
    position: relative;
    font-size: $default-font-size;
    border: none;
    cursor: pointer;
    }
    &:hover{
        transform: translateY(-0.3rem);
        box-shadow:  0 1rem 2rem rgba($color-black,.2);
        &::after{
            transform: scaleX(1.4)  scaleY(1.6);/* padides elementas */
            opacity: 0;
        }
    }
    &:active,
    &:focus{
        outline: none;
        transform: translateY(-0.1rem);
        box-shadow:  0 .5rem 1rem rgba($color-black,.2);
    }
    &--green{
        background-color: $color-primary;
        color:$color-white;
        &::after{
            background-color: $color-primary;
        }
        /* pseudo clase hover  ir t.t.   */
        /* pseudo element after, before , ::first-letter, ::first-line ju nera kaip elementu html bet jie atsiranda kaip yra vykdoma psiaudo clase    */
    }
    &--white{
        background-color: $color-white;
        color:$color-grey-dark;
        &::after{
            background-color: $color-white;
        }
        /* pseudo clase hover  ir t.t.   */
        /* pseudo element after, before , ::first-letter, ::first-line ju nera kaip elementu html bet jie atsiranda kaip yra vykdoma psiaudo clase    */
    }
    &::after{/* sitas after laikomas kaip btn klases vaikas visi dydziai eina nuo jo pvz height 100 % bus nuo pagal btn klase */
        content: "";/* privaloma nurodyti naudojant psiaudo after */
        display: inline-block;/* privaloma nurodyti naudojant psiaudo after */
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }
 

    &--animated{
        animation: moveInBottom   .5s ease-out .75s;
        animation-fill-mode: backwards; /* keyframes nustato  su 0% nustato kaip default padedti todel atsiranda tik ten kur norim o ne savo defalt*/
    }
}
.btn-text{
    &:link,
    &:visited{
        font-size: $default-font-size;
        color:$color-primary;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $color-primary;
        padding: 3px;
        transition: all .2s;
    }

    &:hover{
        background-color: $color-primary;
        color: $color-white;
        box-shadow: 0 1rem 2rem rgba($color-black,.15);
        transform: translateY(-2px);
    }

    &:active{
        box-shadow: 0 .5rem 2rem rgba($color-black,.15);
        transform: translateY(0);
    }
}

